{extend name="public/common"}{/extend} {block name="content"}	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="index-page">	
		<!-- ////////////Content Box 01 -->
		<section id="" class="box-content box-style text-center">
			<div class="container">
				<div class="row heading wow fadeInDown">
					<div class="col-lg-12">
						<h2>推荐 <strong>作品</strong></h2>
					  <hr>
					  <div class="clearfix"></div>
					  <p>即使是夏天也可以为你打造一片秋色哦。开启你的旅程，记录生活的美好！</p>
					</div>
				</div>
				<div class="categories">
				  <ul class="cat">
					<li>
						<ol class="type list-inline">
							<li><a href="#" data-filter="*" class="active">全部</a></li>
							<li><a href="#" data-filter=".jingdu">日本 京都</a></li>
							<li><a href="#" data-filter=".maldives">中国 北京</a></li>
							<li><a href="#" data-filter=".sapa">中国 石家庄</a></li>
							<li><a href="#" data-filter=".paris">日本 东京</a></li>
						</ol>
					</li>
				  </ul>
				  <div class="clearfix"></div>
				</div>
				
				<div class="row">
				  <div class="portfolio-items">
					<div class="col-sm-6 col-md-3 col-lg-3 jingdu">
					  <div class="portfolio-item wow fadeInUp" data-wow-delay="200ms">
						<div class="hover-bg"> <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
						  <div class="hover-text">
							<h4>日本 奈良篇</h4>
							蓝天、白天、青草、小鹿、道具一个草帽 拍拍拍。
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i> </div>
						  <img src="kepian/jinbowen-min/guimi-8.jpg" class="img-responsive" alt="Project Title"> </a>
						</div>
					  </div>
					</div>
					<div class="col-sm-6 col-md-3 col-lg-3 jingdu">
					  <div class="portfolio-item wow fadeInUp" data-wow-delay="400ms">
						<div class="hover-bg"> <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
						  <div class="hover-text">
							<h4>日本 鹿溪旅拍</h4>
							这几天的天气还算舒服，比去年六月好很多哦。
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i> </div>
						  <img src="kepian/jinbowen-min/hai-6.jpg" class="img-responsive" alt="Project Title"> </a> </div>
					  </div>
					</div>
					<div class="col-sm-6 col-md-3 col-lg-3 jingdu">
					  <div class="portfolio-item wow fadeInUp" data-wow-delay="600ms">
						<div class="hover-bg"> <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
						  <div class="hover-text">
							<h4>日本 京都旅拍-闺蜜</h4>
						   这个夏天有你陪伴，很幸福。
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i> </div>
						  <img src="kepian/jinbowen-min/munv.jpg" class="img-responsive" alt="Project Title"> </a> </div>
					  </div>
					</div>
					<div class="col-sm-6 col-md-3 col-lg-3 jingdu">
					  <div class="portfolio-item wow fadeInUp" data-wow-delay="800ms">
						<div class="hover-bg"> <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
						  <div class="hover-text">
							<h4>日本 夏日の京都</h4>
							还好照片里看不出炎热，清凉的感觉诱人。
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i> </div>
						  <img src="kepian/jinbowen-min/qing.jpg" class="img-responsive" alt="Project Title"> </a> </div>
					  </div>
					</div>
					<div class="col-sm-6 col-md-3 col-lg-3 jingdu">
					  <div class="portfolio-item wow fadeInUp" data-wow-delay="1000ms">
						<div class="hover-bg"> <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
						  <div class="hover-text">
              <h4>日本 奈良旅拍</h4>
              夏季没有樱花🌸枫叶🍁，但是有炎热 🥵和绿叶🍃。
							<div class="clearfix"></div>
							<i class="fa fa-plus"></i> </div>
						  <img src="kepian/jinbowen-min/shennai.jpg" class="img-responsive" alt="Project Title"> </a> </div>
					  </div>
					</div>
				  </div>
				</div>
			</div>
		</section>
		
	</div>
	
	<!-- Portfolio Modals --> 
<!-- Use the modals below to showcase details about your portfolio projects! --> 

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/01-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Dubai</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/02-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/03-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/04-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/05-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/06-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 7 -->
<div class="portfolio-modal modal fade" id="portfolioModal7" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/07-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 8 -->
<div class="portfolio-modal modal fade" id="portfolioModal8" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/08-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 10 -->
<div class="portfolio-modal modal fade" id="portfolioModal10" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/10-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 11 -->
<div class="portfolio-modal modal fade" id="portfolioModal11" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/11-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 12 -->
<div class="portfolio-modal modal fade" id="portfolioModal12" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/12-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 13 -->
<div class="portfolio-modal modal fade" id="portfolioModal13" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/13-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 14 -->
<div class="portfolio-modal modal fade" id="portfolioModal14" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/14-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 15 -->
<div class="portfolio-modal modal fade" id="portfolioModal15" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/15-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Portfolio Modal 16 -->
<div class="portfolio-modal modal fade" id="portfolioModal16" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl"> </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body"> 
            <!-- Project Details Go Here -->
            <h2>Project Title</h2>
            <p class="item-intro">Lorem ipsum dolor sit amet consectetur.</p>
            <img class="img-responsive img-centered" src="images/16-preview.jpg" alt="">
            <p>Lorem ipsum dolor sit amet, sea essent iisque iudicabit te, pro no justo delicata inimicus, et oblique docendi laboramus eum. Ei minim fabulas pertinacia pro, graeco urbanitas reformidans quo id. Error congue tacimates ei vis, facer facete ius cu, audiam prodesset pri ut. Id semper fuisset vel, has dolorum menandri eu.</p>
            <ul class="list-inline">
              <li><strong>Client</strong>: John Doe</li>
              <li><strong>Category</strong>: Web Design</li>
            </ul>
            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}