{extend name="public/common"}{/extend} {block name="content"}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="sub-page">
		<div id="main-content">
			<article>
				<div class="container">
					
					<div class="art-content">
						<h1 class="entry-title">摄影师们^_^</h1>
						
						<p class="text-center">我们这边都是常驻摄影师哦，提供摄影师的推荐与对接工作，流程简单、稳定、可靠。免除用户在沟通中的问题</p>

						<div class="row margin-40">
							<div class="col-md-4 text-center">
								<img alt="一头弹吉他的牛" src="/assets/sheyingshi/jinbowen.jpg" class="img-responsive" alt="About">
							</div>
							<div class="col-md-8">
								<h3>一头弹吉他的牛</h3>
								<blockquote>
									<p>擅长：人像写真，和服，汉服</p>
								</blockquote>
								<p>最近很多客人会问我，関西地震怎么样，会不会有余震，影响大不大。<br/><br/>
									我想说：这次大阪地震确实挺大的，大阪这样的地方产生6级的地震也是难以想象的。当天関西神户，京都，大阪的铁路几乎都停了。但是毕竟是地震多发的国家，第二天铁路几乎都恢复了。各种设施商场都开始正常化运转。感受不到地震的影响。所以客人们也不要担心。房屋抗震性是极高的。<br/><br/>
									至于会不会有余震的问题，把心放肚子里。只能说：大自然的事情谁知道呢</p>
								<p>所在区域：日本京都，大阪，奈良</p>
								<p>
									<button class="shenc">就选你了 <i class="fa fa-shopping-cart"></i></button>
								</p>
							</div>
						</div>
						<p>和风就是“日本风”的意思，以形容音乐、建筑、绘画等艺术领域，以及衣食住等文化生活方面具有“日本式”的特色和味道。这个词语经常在受到其他国家影响时作对比使用，如从中国传过去的叫“中国风”，从西方传过去的叫“西洋风”等。日本往往是先大力追捧异国风情，然后再反省、消化，将其变成“和风”，但也正因如此，真正“和风”的东西微乎其微。 日本是一个情绪化的民族，一旦认为“和”能代表自己，便将经过日本式改造的外来东西都冠以“和”字，并对其抱有憧憬。</p>
					</div>
				</div>
			</article>
		</div>
	</div>
	
{/block}