{extend name="public/common"}{/extend} {block name="content"}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="sub-page">
		<div id="main-content">
			<article>
				<div class="container">
					<div class="row heading wow fadeInDown text-center">
						<div class="col-lg-12">
							<h2>合作流程</h2>
						  <hr>
						  <div class="clearfix"></div>
						  <p>让我来简单的介绍一下在本站下单流程吧！</p>
						</div>
					</div>
					<div class="row">
						<h2>一、选择摄影师</h2>
						<br>
						<p>请在首页浏览照片，找到您喜欢的风格，下方有对应摄影师下单的快捷连接，点击下单即可</p>
						<br>
						<h2>二、交易流程</h2>
						<br>
						<p>点击连接后可来到淘宝店铺，请联系客服联系对应摄影师的时间安排达成共识确认无误后，请拍下需要的对应的连接的商品！</p>
						<p>这部分资金为预定费用和服务费用，加下来的内容就由我们来完成</p>
						<p>与摄影师确定时间安排，并安排具体档期。</p>
						<p>请自行解决护照，签证，飞机，车马，住宿等费用和事项，本平台不提供服务</p>
						<p>在拍照之前，我们会将摄影师与客户建立一个沟通群，有助于客户需要的效果方便与摄影师沟通。</p>
						<p>本平台提供相册打印服务，请查看具体商品的打印相册选项</p>
						<p>有任何有关拍照流程，和与摄影是沟通的工作均可以向我们咨询</p>
						<br>
						<h2>三、完成交易</h2>
						<br>
						<p>用户在预约好的时间内拍照，完成拍照、出片结束视为完成交易</p>
						<p>在没有预约的情况下，7个工作日内可以无条件退款，预约后可变更2次时间、且预约时间后后2个工作日后视为成立预约，不给与退款</p>
						<br>
						<h2>其他服务：</h2>
						<br>
						<p>我们还提供相册打印服务哦，排版打印，快来制作心仪的相册吧！</p>
					</div>
				</div>
			</article>
		</div>
	</div>
{/block}