<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="咔嗒摄影平台，快来选择属于你的摄影师吧！" />
		<meta name="Keywords" content="咔嗒 摄影 摄影平台 中国 日本 北京 京都 旅拍 夏天 秋天 冬天 春天 樱花 照片 相册 修图 婚纱照 旅拍照 照片" />
    <meta name="description" content="Free Responsive Html5 Templates">
    <meta name="author" content="">

    <title>咔嗒摄影平台</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">
	  <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
	
	<!-- Custom Fonts -->
		<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	  <link rel="stylesheet" type="text/css" href="/assets/localfont/iconfont.css">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
		<script type="text/javascript" src="/assets/js/jquery-2.1.1.js"></script> 
		<!-- Include all compiled plugins (below), or include individual files as needed --> 
		<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script> 
		<script type="text/javascript" src="/assets/js/SmoothScroll.js"></script> 
		<script type="text/javascript" src="/assets/js/wow.min.js"></script> 
		<script type="text/javascript" src="/assets/js/jquery.isotope.js"></script> 
		<script type="text/javascript" src="/assets/js/main.js"></script>
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="/assets/js/html5shiv.js"></script>
        <script src="/assets/js/respond.min.js"></script>
    <![endif]-->
    {block name="css"}{/block}
</head>
<body>
	<!-- /////////////////////////////////////////Navigation -->
    <nav id="menu" class="navbar navbar-default navbar-fixed-top">
		<div class="container"> 
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			  <a class="navbar-brand" href="index"><i class="iconfont icon-logo"></i> 咔嗒摄影平台<strong></strong></a> 
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			  <ul class="nav navbar-nav navbar-right">
				<li><a href="index" class="page-scroll">首页</a></li>
				<li><a href="about" class="page-scroll">摄影师们</a></li>
				<li><a href="contact" class="page-scroll">合作流程</a></li>
			  </ul>
			</div>
			<!-- /.navbar-collapse --> 
		</div>
		<!-- /.container-fluid --> 
	</nav>
	<!-- Navigation -->

	<!-- /////////////////////////////////////////Header -->
	<header class="text-center" id="header-top" name="home">
		<div class="intro-text">
			<h1 class="wow fadeInDown">Welcome to <strong><span class="color">KaDa</span></strong></h1>
			<p class="wow fadeInDown">快来选择属于你的摄影师吧！</p>
			<a href="/about" class="btn btn-default btn-lg page-scroll wow fadeInUp" data-wow-delay="200ms">选定摄影师</a> 
		</div>
	</header>
	<!-- Header -->

  <!-- /////////////////////////////////////////content -->
  {block name="content"}{/block}
	
	<!-- /////////////////////////////////////////Footer -->
	<footer>
		<div id="footer">
			<div class="container">
				<p>Copyright &copy; 2019.咔嗒摄影平台.提供最好的摄影体验</p>
			</div>
		</div>
	</footer>
	<!-- Footer -->

	<!-- <div class="go-btn" id="go-btn">
		<span>开始</span>
		<span>下单</span>
	</div> -->
</body>
</html>